<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script>
<script> 
  // Position Variables
  var x = 0;
  var y = 0;
  var z = 0;

  // Speed - Velocity
  var vx = 0;
  var vy = 0;
  var vz = 0;

  // Acceleration
  var ax = 0;
  var ay = 0;
  var az = 0;
  var ai = 0;
  var arAlpha = 0;
  var arBeta = 0;
  var arGamma = 0;

  var delay = 100;
  var vMultiplier = 0.01;			var alpha = 0;
  
  var alpha = 0;
  var beta = 0;
  var gamma = 0;
  
  
  // Connecting to ROS
  // -----------------
  var ros = new ROSLIB.Ros();

  // If there is an error on the backend, an 'error' emit will be emitted.
  ros.on('error', function(error) {
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'none';
    document.getElementById('error').style.display = 'inline';
    console.log(error);
  });

  // Find out exactly when we made a connection.
  ros.on('connection', function() {
    console.log('Connection made!');
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('error').style.display = 'none';
    document.getElementById('closed').style.display = 'none';
    document.getElementById('connected').style.display = 'inline';
  });

  ros.on('close', function() {
    console.log('Connection closed.');
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'inline';
  });

  // Create a connection to the rosbridge WebSocket server.
  ros.connect("ws://" + window.location.hostname + ":9090");
  //ros.connect('ws://10.0.5.187:9090');

  // Publishing a Topic
  // ------------------

  // First, we create a Topic object with details of the topic's name and message type.
  var cmdVel = new ROSLIB.Topic({
    ros : ros,
    name : '/cmd_vel',
    messageType : 'geometry_msgs/Twist'
  });

  // Then we create the payload to be published. The object we pass in to ros.Message matches the
  // fields defined in the geometry_msgs/Twist.msg definition.
  var twist = new ROSLIB.Message({
    linear : {
      x : 0.1,
      y : 0.2,
      z : 0.3
    },
    angular : {
      x : -0.1,
      y : -0.2,
      z : -0.3
    }
  });

  // And finally, publish.
  cmdVel.publish(twist);

if (window.DeviceMotionEvent==undefined) {
    document.getElementById("no").style.display="block";
    document.getElementById("yes").style.display="none";
  } 
  else {
    window.ondevicemotion = function(event) {
    ax = Math.round(Math.abs(event.accelerationIncludingGravity.x * 1));
    ay = Math.round(Math.abs(event.accelerationIncludingGravity.y * 1));
    az = Math.round(Math.abs(event.accelerationIncludingGravity.z * 1));		
    ai = Math.round(event.interval * 100) / 100;
    rR = event.rotationRate;
    if (rR != null) {
    arAlpha = Math.round(rR.alpha);
    arBeta = Math.round(rR.beta);
    arGamma = Math.round(rR.gamma);
   }

    /*					
    ax = Math.abs(event.acceleration.x * 1000);
    ay = Math.abs(event.acceleration.y * 1000);
    az = Math.abs(event.acceleration.z * 1000);		
    */
    imusnapshot();
  }
  
  window.ondeviceorientation = function(event) {
    alpha = Math.round(event.alpha);
    beta = Math.round(event.beta);
    gamma = Math.round(event.gamma);
    imusnapshot();
  }				
  }
  
  var imuTopic = new ROSLIB.Topic({
    ros : ros,
    name : '/gyro',
    messageType : 'sensor_msgs/Imu'
  });
  
  /*  
  var odometryTopic = new ROSLIB.Topic({
    ros : ros,
    name : '/odometry',
    messageType : 'nav_msgs/Odometry'
  });
  */
  
  function imusnapshot() {
  /*
    var beta_radian = ((beta + 360) / 360 * 2 * Math.PI) % (2 * Math.PI);
    var gamma_radian = ((gamma + 360) / 360 * 2 * Math.PI) % (2 * Math.PI);
    var alpha_radian = ((alpha + 360) / 360 * 2 * Math.PI) % (2 * Math.PI);
  */
    var beta_radian = (beta * Math.PI) / 180;
    var gamma_radian = (gamma * Math.PI) / 180;
    var alpha_radian = (alpha * Math.PI) / 180;
    var eurlerpose = new THREE.Euler(beta_radian, gamma_radian, alpha_radian);
 
    var quaternionpose = new THREE.Quaternion;
    quaternionpose.setFromEuler(eurlerpose);
    var imuMessage = new ROSLIB.Message({
    header : {
      frame_id : "imu_link"
    },
    orientation : {
      x : quaternionpose.x,
      y : quaternionpose.y,
      z : quaternionpose.z,
      w : quaternionpose.w
    },
    orientation_covariance : [0,0,0,0,0,0,0,0,0],
    angular_velocity : {
      x : beta,
      y : gamma,
      z : alpha,
     },
    angular_velocity_covariance  : [0,0,0,0,0,0,0,0,0],
    linear_acceleration : {
      x : ax,
      y : ay,
      z : az,
    },
    linear_acceleration_covariance  : [0,0,0,0,0,0,0,0,0],
    });

    imuTopic.publish(imuMessage);
  }

  //Subscribing to a Topic
  //----------------------

  // Like when publishing a topic, we first create a Topic object with details of the topic's name
  // and message type. Note that we can call publish or subscribe on the same topic object.
  var listener = new ROSLIB.Topic({
    ros : ros,
    name : '/listener',
    messageType : 'std_msgs/String'
  });

  // Then we add a callback to be called every time a message is published on this topic.
  listener.subscribe(function(message) {
    console.log('Received message on ' + listener.name + ': ' + message.data);

    // If desired, we can unsubscribe from the topic as well.
    listener.unsubscribe();
  });

  
  // Setting a param value
  // ---------------------

  ros.getParams(function(params) {
    console.log(params);
  });

  // First, we create a Param object with the name of the param.
  var maxVelX = new ROSLIB.Param({
    ros : ros,
    name : 'max_vel_y'
  });

  //Then we set the value of the param, which is sent to the ROS Parameter Server.
  maxVelX.set(0.8);
  maxVelX.get(function(value) {
    console.log('MAX VAL: ' + value);
  });

  // Getting a param value
  // ---------------------

  var favoriteColor = new ROSLIB.Param({
    ros : ros,
    name : 'favorite_color'
  });

  favoriteColor.set('red');
  favoriteColor.get(function(value) {
    console.log('My robot\'s favorite color is ' + value);
  });
</script>
</head>

<body>
  <h1>Simple roslib Example</h1>
  <p>Run the following commands in the terminal then refresh this page. Check the JavaScript
    console for the output.</p>
  <ol>
    <li><tt>roscore</tt></li>
    <li><tt>rostopic pub /listener std_msgs/String "Hello, World"</tt></li>
    <li><tt>rostopic echo /cmd_vel</tt></li>
    <li><tt>rosrun rospy_tutorials add_two_ints_server</tt></li>
    <li><tt>roslaunch rosbridge_server rosbridge_websocket.launch</tt></li>
  </ol>
  <div id="statusIndicator">
    <p id="connecting">
      Connecting to rosbridge...
    </p>
    <p id="connected" style="color:#00D600; display:none">
      Connected
    </p>
    <p id="error" style="color:#FF0000; display:none">
      Error in the backend!
    </p>
    <p id="closed" style="display:none">
      Connection closed.
    </p>
  </div>
</body>
</html>
